
/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody,
tfoot, thead, th {
    border:0pt none;
    font-family:inherit;
    font-style:inherit;
    font-weight:inherit;
    margin:0pt;
    padding:0pt;
    vertical-align:baseline;
}

table{
    border-collapse: separate;
    border-spacing: 0pt;
}

blockquote:before, blockquote:after, q:before, q:after{
    content:"";
}
blockquote, q{
    quotes:"" "";
}
pre{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


ul{
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
}


.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
    line-height: 0;
}
.clearfix{
    overflow: hidden;
}
.italic{
    font-style: italic;
}
/******* /GENERAL RESET *******/

/******* GENERAL *******/

.wrapper{
    width:1020px;
    margin: 0 auto;
	margin-top:-20px;
  
}
/******* /GENERAL *******/

/******* MENU *******/
#container{
    height: auto;
	
    margin:0em auto;
    width:1020px;
}
#container ul{
    list-style:none;
    list-style-position:outside;
	opacity: 1;
}
#container ul.menu li{
opacity: 1;
    float:left;
	width:339px;
    margin-right:1px;
  margin-left:0px;
}
#container ul.menu li{
	text-align:center;
    font-weight:800;
    display:block;
    padding:10px 10px;
    background-color:#faebae;

     position:relative;
    color: #000;
    cursor:pointer;
   
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
}
#container ul.menu li:hover{
    color: #900;
}

/* color de botones*/
#container ul.menu li.active{
    background: #FFF;
    top:1px;
   
    color: #000;
	
}
/******* /MENU *******/

/******* CONTENT *******/
.content{
    height: auto;
    margin:0 auto;
	background-color:#FFF;
    
    text-align:left;
    padding:1.3em;
    padding-bottom:20px;
	
    font-size:12px;
    line-height:2em;
    color: #096;
    border-radius:0 5px 5px 5px;
    -moz-border-radius:0 5px 5px 5px;
    -webkit-border-radius:0 5px 5px 5px;
}

/******* /CONTENT *******/

/******* NOTICIAS *******/
.content.estatales h3{
   
}
.content.estatales{
    display:block;
    height: auto;
}
/******* /NOTICIAS *******/

/******* TUTORIALES *******/
.content.tutoriales h3{
   
}
.content.tutoriales{
    display:none;
}
/******* /TUTORIALES *******/

/******* ENLACES *******/
.content.enlaces h3{
   
}
.content.enlaces{
    display:none;
}
.content.enlaces a{
  
}
/******* /ENLACES *******/

