body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	padding-top: 110px;
	
}

h1{
	text-align: center;
	color: rgb(134,67,26);
	font-size: 24px;
	text-transform: uppercase;
  text-shadow: -5px -5px 5px #aaa;
  }

  h2{
	text-align: left;
	color: #C57E00;
	font-size: 16px;
	text-transform: uppercase;
  }


  #opciones h3{
	text-align: left;
	color: #008997;
	font-size: 14px;
	text-transform: uppercase;
  }
header#banner{
	clear: both;
	float: right;
	margin: 0 0;
	width: 100%;
}

#content{
	background-color: #fff;
	color: #000;
	display: block;
	font-size: 12px;
	height: 100px;
	position: relative;
}

#logo{
	float: left;
	margin: 0;
	padding: 0 12px;
	min-width: 200px;
	position: absolute;

}

#menusu{
	float: right;
	position: absolute;
	z-index: 100;
	top: 30px;
	right: 10px;
	font-size: 15px;
	color: #777777;
}

#menusu ul{
	list-style: none;

}
#menusu li{
	display: inline;
	padding: 15px;
}

#menusu a{
	color: #026E5A;
	text-decoration: none;

}

#menusu a:hover{
	font-size: 17px;
	color: #55B030;
}


#menu{
	background-color: rgb(177,1,53);
	float: right;
	clear: both;
	width: 100%;
	font-size: 18px;
	color: #fff;
}

#menu ul{
	list-style: none;
	text-align: center;
}
#menu li{
	display: inline;
	padding: 30px;
}

#botonera{
	margin: 0 auto;
	height: 30%;
}

#botonera a:hover img{
	width: 70%;
     
}



#BannerMenu{
	text-align: center;

margin: 0 auto;
padding-top: 45px;
}

#opciones{
	width: 90%;
    position: relative;
	margin: 0 auto;
	text-align: justify;
background-color: #fff;
padding: 20px;

}

#opciones div{
	padding: 40px;
	margin: 0;
	text-align: justify;
	float: left;
}

#opciones a{
	padding: 5px;
	margin: 0;
	text-align: justify;
	color: red;
	font-weight:bold;
}

#opciones a:hover{
	padding: 5px;
	margin: 0;
	text-align: justify;
	color: green;
	font-weight:bold;
}


#enlaces{
	margin: 0 auto;
	width: 100%;
	background-color: #004080;
	height: 180px;
	clear: both;

}

#enlaces div{
text-align: center;
font-size: 11px;
float: left;
color: #fff;
padding: 10px 30px;
}
#enlaces ul{
	list-style: none;
	margin: 0 auto;
}


footer{
	clear: both;
	background-color: rgb(255,236,0);
	margin-top: 0px;
	float: left;
	width: 100%;
	text-align: center;
}

a{
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	color: blue;
}

a:visited{
	color: #65E9EC;
}

#mainfixed{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
}
