.logo-tv{
	height: 80px; 
	position: absolute;
}
.tvuimqroo{
	left: 80px; 
	position: absolute;
}
.logo-uimqroo{
	height: 60px; 
	position: absolute;
}
.slide-img2{
	left:50px; 
	margin-top:250px;
}
.text-justify{
	text-align : justify;
}
.logos{
	height:100px;
}