.Estilo1{
    border: 2 solid #0066cc;
    #width: 100%;
    heigth: 400px;
    background: #99cc00;
   # border-bottom: 1px solid #0066cc;
  
} 

.Estilo2{
   border: 1 solid #006600;
   background: #ffffcc;
 
} 



.Estilo3{
    border: 1 solid #006600;
    #width: 150px;
    font-size: 12px;
    font-weight: bold;
    tex-color: #FFFFFF;
    text-align: left;
    background: #99cc00;
 
} 


select{
 background: #ffffcc;

}



h1 {
    #margin: -20px -20px 21px;
    #line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
  

}







FONT		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
TD		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
BODY		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; margin: 5; }
P		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
DIV		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
INPUT		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; background: #ffffcc;}
TEXTAREA	{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; background: #ffffcc;}





.fuente8		{COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 8pt}
.fuente5		{COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 5pt}
.fuente6		{COLOR: #000000;FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 6pt}
.fuente4		{FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 4pt}
.fuente7		{FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 7pt}

.content 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}

.storytitle 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
.boxtitle 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 10px;                    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
.option 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.tiny		{BACKGROUND: none; COLOR: none; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}



#A:link          {BACKGROUND: #65B25F;  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
#A:active        {BACKGROUND: #65B25F;  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
#A:visited       {BACKGROUND: #65B25F;  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
#A:hover         {BACKGROUND: #E7DEC2;  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold}

.Boton  {color: #996699; cursor: hand;  border-style: solid; border-width: 0; background-color: #CCCCCC}
.Cuadro {border: 2 solid #cacaca; valign="middle"}
.Titulo {BACKGROUND: #cacaca; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: }