.Estilo1{
    border: 2 solid #9EB1B4;
    width: 100%;
    heigth: 400px;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    #background: url(../Imagenes/Chocolate.html) center center;
} 

.Estilo2{
    background: white;
    border: 2px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    #background: url(../Imagenes/Chocolate.html) center center;
} 



.Estilo3{
    border: 2 solid #9EB1B4;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    tex-color: #FFFFFF;
    text-align: left;
    #background: #B46B6D;
    #border-radius: 5px;
    #-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    #box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    #background: url(../Imagenes/Menu.html) center center;
} 






h1 {
    #margin: -20px -20px 21px;
    #line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    #background: #c1c1c1;
    #border-bottom: 1px solid #cfcfcf;
    #border-radius: 3px 3px 0 0;
    #background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    #background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    #background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    #background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    #-webkit-box-shadow: 0 1px whitesmoke;
    #box-shadow: 0 1px whitesmoke;
    #width: 100%;

}



select {
    border: 1px solid #D0D0D0;
    background: url(../../select.png) no-repeat right center, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#ededed));
    background: -moz-linear-gradient(19% 75% 90deg,#ededed, #fbfbfb);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    color: #444;
}



FONT		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
TD		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
BODY		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; margin: 5; }
P		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
DIV		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
INPUT		{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
TEXTAREA	{FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }





.fuente8		{COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 8pt}
.fuente5		{COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 5pt}
.fuente6		{COLOR: #000000;FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 6pt}
.fuente4		{FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 4pt}
.fuente7		{FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-SIZE: 7pt}

.content 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}

.storytitle 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
.boxtitle 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 10px;                    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
.option 	{BACKGROUND: none; COLOR: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.tiny		{BACKGROUND: none; COLOR: none; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}



#A:link          {BACKGROUND: #65B25F;  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
#A:active        {BACKGROUND: #65B25F;  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
#A:visited       {BACKGROUND: #65B25F;  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
#A:hover         {BACKGROUND: #E7DEC2;  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold}

.Boton  {color: #996699; cursor: hand;  border-style: solid; border-width: 0; background-color: #CCCCCC}
.Cuadro {border: 2 solid #cacaca; valign="middle"}
.Titulo {BACKGROUND: #cacaca; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: }